<div class="container">
    <div>
        <h1>Formulario</h1>
    </div>
    <form [formGroup]="users">
        <!-- INPUT PARA Campo1-->
        <div class="form-group">    
            <div>
                <label>Nombre</label>
                <!-- INPUT para el campo nombre-->
                <input
                    type="text"
                    placeholder="Ingresa Valor Campo1"
                    formControlName ="nombre"
                    required
                >
                <!-- Mostrar el error para el campo nombre-->
                <small *ngIf=" usersReactivo.nombre?.errors?.required && usersReactivo.nombre.touched ">
                    El nombre es requerido
                </small>
            </div>
        </div>
        <!-- FIN INPUT PARA Campo1-->

        <!-- INPUT PARA Campo2-->
        <div class="form-group">
            <div>
                <label>Apellido</label>
                <!-- INPUT para el campo apellido-->
                <input
                    type="text"
                    placeholder="Ingresa tu apellido"
                    formControlName ="apellido"
                >
                <!-- Mostrar el error para el campo apellido-->
            </div>
        </div>
        <!-- FIN INPUT PARA CAMPO2-->

        <!-- BOTÓN-->
        <div class="form-group">
            <div>
                <button 
                class="btn btn-primary" 
                type="submit"
                (click)="botonEnviar()"
                [disabled]="!users.valid"
                >Enviar</button>
            </div>
        </div>
        <!-- FIN BOTÓN-->
        
    
    </form>
    <button (click)="obtenerRegistro()"  >Obtener Registros</button>

    <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dato of registros">
            <td>{{dato._id}}</td>
            <td>{{dato.Nombre}}</td>
            <td>{{dato.Apellido}}</td>
            <td><button (click)="eliminar(dato._id)">Eliminar</button></td>
          </tr>
          
          
        </tbody>
      </table>

</div>